/* All the basic layout stuff. */

body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 16px;
	color: #333;
	background: #ccc;
	line-height: 1.4	
}

.serif-font,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Serif;
	text-transform: capitalize;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5em;
	margin: 1.618em 0 1em 0;
	color: darkslateblue
}

.main-content {
	background: #fff;
	max-width: 900px;
	margin: 0 auto;
	padding: 1em
}

header {
	background: #444;
	color: #fff;
	padding: 1em
}

header h1,
header p {
	border-bottom: 0;
	font-family: Sans-serif;
	margin: 0;
	line-height: 1;
	color: #fff
}

header p {
	font-style: italic;
	font-weight: normal;
	margin-bottom: 1em;
	color: rgba(255, 255, 255, 0.65);
	padding-left: 1em
}

nav {
	width: 100%: display: block
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%
}

nav ul li {
	width: 32%;
	display: inline-block	
}

nav ul li a {
	display: block;
	padding: 5px 10px;
	background: #666;
	color: #fff;
	text-decoration: none;
	text-align: center
}

blockquote {
	font-size: 120%;
	font-style: italic;
	color: #777;
	font-family: serif;
	line-height: 1.2;
	border-left: 3px solid lightblue;
	padding: 1em 1.618em
}

